{% extends 'base.twig' %}
{% block title %}Rport Login{% endblock %}
{% block page_title %}<h3>Create user</h3>{% endblock %}
{% block content %}
<form id="frmCreateUser" method="post" action="/user/writeUser">
	<fieldset>
		<div class="input-append">
			<label for="tiUser">{{ text.user.createUserLabel }}</label>
				<input type="text" name="user" id="tiUser" class="span3">
				<button id="btnSearchUser" class="btn" type="button"><i class="icon-search"></i></button>
		</div>
		<label for="tiEmail">{{ text.user.createEmailLabel }}</label>
			<input type="text" name="email" id="tiEmail" class="span3">
		<label for="tiPassword1">{{ text.user.createPasswordLabel1 }}</label>
			<input type="password" name="password1" id="tiPassword1" class="span3">
		<label for="tiPassword2">{{ text.user.createPasswordLabel2 }}</label>
			<input type="password" name="password2" id="tiPassword2" class="span3">
		<br>
		<input class="btn" type="submit" id="btnSaveUser" value="{{ text.user.createUserButtonSubmit }}">
		<input type="hidden" name="secureFormToken" value="{{ secureFormToken }}">
	</fieldset>
</form>
{% endblock %}
{% block js %}
	<script src="/js/user/create.js"></script>
{% endblock %}